--- 
http_interactions: 
- request: 
    method: get
    uri: http://openexchangerates.org/api/historical/00000.json?app_id=bcc1d1ad9f4d4dd69b12a64c913857fe
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"error\":true,\"status\":404,\"message\":\"not_found\",\"description\":\"No route specified, or route not matched. Please check and try again, or contact support@openexchangerates.org.\"}"
  recorded_at: Fri, 17 Aug 2012 01:01:45 GMT
recorded_with: VCR 2.2.4
