--- 
http_interactions: 
- request: 
    method: get
    uri: http://openexchangerates.org/api/historical/2011-02-01.json?app_id=wrong
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 401
      message: Unauthorized
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      encoding: US-ASCII
      string: "{\"error\":true,\"status\":401,\"message\":\"invalid_app_id\",\"description\":\"Invalid App ID - please sign up at https://openexchangerates.org/signup, or contact support@openexchangerates.org.\"}"
  recorded_at: Fri, 17 Aug 2012 01:01:46 GMT
recorded_with: VCR 2.2.4
